<template>
  <div id="app">
    <div class="row">
      <h1>{{ title }} <i class="fas fa-hand-peace"></i></h1>
      <div v-if="error" class="alert alert-danger">{{error}}</div>
    </div>
    <div class="row">
      <div class="col-6 col">
        <pre>
from "{{webservice}}"
{{gallery}}
        </pre>
      </div>
      <div class="col-6 col gallery">
        <thumbnail v-for="a in gallery" v-bind:key="a.ID" v-bind:image="a"
          v-on:deleteImg="onDeleteImg"
          v-on:addComment="onAddComment">
        </thumbnail>
      </div>
    </div>
  </div>
</template>

<script>
import thumbnail from "./thumbnail.vue";
var $ = require("jquery");
import Vue from "vue";
export default {
  name: "app",
  components: { thumbnail },
  data() {
    return {
      title: "Gallery demo!",
      gallery: {},
      error: "",
      webservice: "http://localhost:8081/images"
    };
  },
  created: function() {
    var self = this;
    $.ajax({
      url: self.webservice,
      dataType: "json",
      success: function(response) {
        self.gallery = response;
      },
      error: function(r) {
        self.error = `culd not connect. status: ${r.status} ${r.statusText}`;
        console.log(r);
      }
    });
  },
  methods: {
    onDeleteImg(id) {
      console.log("about to delete");
      Vue.delete(this.gallery, id);
    },
    onAddComment(comment, id) {
      this.gallery[id].Comment = comment;
    }
  }
};
</script>

<style scoped>
pre {
  color: green;
  float: left;
  text-align: left;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.gallery {
  float: left;
}

img {
  width: 200px;
  height: 200px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
