<template>
  <div class="card img" :id="image.ID">
    <h3><i class="fas fa-camera-retro"></i>{{ image.Name }}</h3>
    <img :src="imageURL()" />
    <input v-model="comment" v-bind:disabled="!edit" v-on:keyup.enter="submit" />
    <div class="options">
      <a v-bind:style="myStyle" v-on:click=click href="#"><i class="fas fa-star"></i></a>
      <span class="badge success">{{ image.Likes }}</span>
      <a href="#" v-on:click="deleteImg"><i class="fas fa-times"></i></a>
      <a href="#" v-on:click="editImg"><i class="fas fa-edit"></i></a>
    </div>
  </div>
</template>

<script>
var Vue = require("vue");
export default Vue.component("thumbnail", {
  name: "thumbnail",
  props: ["image"],
  data: function() {
    return {
      comment: "",
      edit: false,
      myStyle: {
        color: "#86a361",
        "font-size": "1em"
      }
    };
  },
  created: function() {
    this.comment = this.image.Comment;
  },
  methods: {
    click: function(e) {
      e.preventDefault();
      this.image.Likes++;

      var fontsize = this.image.Likes < 3 ? this.image.Likes + 1 : 3;
      this.myStyle["font-size"] = fontsize + "em";
    },
    imageURL: function() {
      return "http://localhost:8081/images/" + this.image.ID + "/img";
    },
    deleteImg: function(e) {
      e.preventDefault();
      this.$emit("deleteImg", this.image.ID);
    },
    editImg: function(e) {
      this.edit = true;
      e.preventDefault();
    },
    submit: function(e) {
      this.$emit("addComment", this.comment, this.image.ID);
      this.edit = false;
    }
  },
  watch: {
    image: {
      handler: function(newVal, oldVal) {
        this.comment = newVal.Comment;
      },
      deep: true
    }
  }
});
</script>

<style scoped>
img {
  margin-bottom: 1em;
  border: 2px solid #41403e;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
}

h2 {
  float: left;
}

.options {
  padding-top: 10px;
  text-align: left;
}
.img {
  margin: 1em;
  padding: 1em;
  width: 20rem;
  display: block;
}
</style>
